body{
margin:0;
font-family: Arial;
background: linear-gradient(135deg,#4c6ef5,#15aabf);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
border-radius:12px;
width:380px;
box-shadow:0 20px 40px rgba(0,0,0,0.2);
text-align:center;
}

input, select{
width:100%;
padding:10px;
margin:8px 0;
border-radius:6px;
border:1px solid #ccc;
}

button{
width:100%;
padding:10px;
margin-top:8px;
border:none;
border-radius:6px;
background:#4c6ef5;
color:white;
cursor:pointer;
}

button:hover{
background:#364fc7;
}

.hidden{
display:none;
}

.link{
color:#4c6ef5;
cursor:pointer;
font-size:14px;
}

.topo{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:10px;
}

ul{
list-style:none;
padding:0;
}

li{
background:#f1f3f5;
padding:10px;
margin:5px 0;
border-radius:6px;
display:flex;
justify-content:space-between;
align-items:center;
}

.concluida{
text-decoration: line-through;
opacity:0.6;
}

.botoes{
display:flex;
gap:5px;
}

.remover{
background:red;
color:white;
border:none;
padding:5px;
border-radius:4px;
}

.ok{
background:green;
color:white;
border:none;
padding:5px;
border-radius:4px;
}